<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.celusoftwares.onibustb">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_directions_bus_white_48dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.BairrosActivity"></activity>
        <activity android:name=".Activities.HorariosActivity"></activity>

    </application>

</manifest>
